<h1>Comments</h1>
<div class = 'comments'>
   <b id = 'title'><%= @user.username %>'s Recent Comments </b>
    <% @comments.each do |comment| %>
      <p>
        <% commentPack = CoursePack.find(comment.course_pack_id) %>
        <b><%= link_to commentPack.title, course_pack_path(commentPack[:id]) %></b>
        <%= comment.comment %>
      </p>
    <% end %>
  </div>
<div style="width:90%; margin-left:auto; margin-right:auto; margin-top:20px;">
	<table style="margin-left:auto; margin-right:auto">
		<tr >
			<td><%= button_to "Add Comment", :action => "add", :method => :get  %></td>
			<td><%= button_to "Delete Comment", "comments/delete", :method => :get  %></td>
		</tr>
	</table>
</div>
