<h1>Comments</h1>
<div id = 'comments_index'>
  <br>
  <% @comments.each do |comment| %>
    <div class='comment_show'>
      <% commentPack = CoursePack.find(comment.course_pack_id) %>
      <a href="<%="/course_packs/#{commentPack.id}"%>" class='show_link', id='show_link'>
      <div>
        <div class='comment_header'><%= commentPack.title %></b></div>
        <div class='comment_content'><%= comment.comment %></div>
      </div>
      </a>
    </div>
  <% end %>
  <br>

</div>
<!--
<div style="width:90%; margin-left:auto; margin-right:auto; margin-top:20px;">
	<table style="margin-left:auto; margin-right:auto">
		<tr >
			<td><%= button_to "Add Comment", :action => "add", :method => :get  %></td>
			<td><%= button_to "Delete Comment", "comments/delete", :method => :get  %></td>
		</tr>
	</table>
</div>-->
