<h1>Search for articles</h1>
<br>
<p>
	<% if params[:q] == "" %>
		<font color='red'>
			<b><%= "Please enter a search term." %></b>
		</font>
	<% elsif params[:q] and params[:category].nil? %>
		<font color='red'>
			<b><%= "Please select a search category." %></b>
		</font>
	<% elsif params[:q] and (@articles.nil? or @articles.count == 0)%>
		<b><%= "No articles found." %></b>
	<% elsif @articles %>
		<b><%= @articles.count.to_s + " article(s) found." %></b>

		<h2>Results:</h2>

		<table id="articles">
		  <thead>
		    <tr>
		      <th> Title </th>
		      <th> Description </th>
		      <th> Publication Date </th>
		      <th> Tags </th>
		    <tr>
		  </thead>
		  <tbody>
		    <% @articles.each do |article| %>
		      <tr>
		        <td> <%= article.title %> </td>
		        <td> <%= article.description %> </td>
		        <td> <%= article.publication_date %> </td>
		        <td> <%= article.tags %> </td>
		        <td> <%= button_tag("Add to coursepack") %> </td>	 <!-- button should return something for the course pack? -->
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
</p>
