<h1>Search for articles</h1>

Articles in database: <%= @count %>

<%= form_tag("/search", method: "get") do %>
	<p>
	  <%= label_tag(:q, "Search for:") %>
	  <%= text_field_tag(:q, (params[:q] ? params[:q] : "")) %>
	  <%= submit_tag("Search") %>
	</p>
	<p>
		Category:
		<% @search_categories.each do |category| %>
			<%= radio_button_tag('category', category, (params[:category] == category ? true : false)) %>
			<%= category %>
		<% end %>
	</p>
<% end %>

<%= form_tag("/search", method: "get") do %>
	<%= submit_tag("List All") %>
<% end %>

<br>
<p>
	<% if params[:q] == "" %>
		<font color='red'>
			<b><%= "Please enter a search term." %></b>
		</font>
	<% elsif params[:q] and params[:category].nil? %>
		<font color='red'>
			<b><%= "Please select a search category." %></b>
		</font>
	<% elsif params[:q] and (@articles.nil? or @articles.count == 0)%>
		<b><%= "No articles found." %></b>
	<% elsif @articles %>
		<b><%= @articles.count.to_s + " article(s) found." %></b>

		<h2>Results:</h2>

		<table id="articles">
		  <thead>
		    <tr>
		      <th> Title </th>
		      <th> Description </th>
		      <th> Publication Date </th>
		      <th> Tags </th>
		    <tr>
		  </thead>
		  <tbody>
		    <% @articles.each do |article| %>
		      <tr>
		        <td> <%= article.title %> </td>
		        <td> <%= article.description %> </td>
		        <td> <%= article.publication_date %> </td>
		        <td> <%= article.tags %> </td>
		        <td> <%= button_tag("Add to coursepack") %> </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
</p>