<h1>Edit Profile</h1>
<div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>
</div>
<%= form_tag "edit_user" do |f| %>
  <p>
    <%= label_tag :old_password %>
    <%= password_field_tag :old_password %>
  </p>
  <p>
    <%= label_tag :new_password %>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </p>
  <%= submit_tag 'Change Password' %>
  <%= submit_tag 'Cancel' %>
<% end %>
