<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash#{name}" %>
<% end %>
<h1><%=@user[:username]%>'s Profile</h1>
<% if @user.username == current_user.username %>
  <p><%= link_to 'Change Password', edit_user_path %></p>
<% end %>
<% if @user.username == current_user.username or current_user.admin == true %>
  <p><%= link_to 'Delete Profile', '/destroy_user/'+@user.id.to_s, :confirm => "Are you sure you want to delete this profile?" %></p>
<% end %>
<div>
  <b>Recent Course Packs</b> 
  <br>
  <% @coursepacks.each do |course_pack| %>
    <table id = "<%= course_pack[:title] %>" >
    <tr>
      <td>
      <%= course_pack[:title] %>
      <%= link_to 'Show', course_pack_path(course_pack[:id]) %>
      <% if @user.username == current_user.username %>
          <%= link_to 'Edit', edit_course_pack_path(course_pack[:id]) %>
      <% end %>
    </tr>
    </table>
      <br>
  <% end %>

  <p><%= link_to 'Click Here For More Course Packs', course_packs_path %> </p>
</div>

<div>
 <b><%= @user.username %>'s Recent Comments </b>
  <% @comments.each do |comment| %>
    <p>
      <% commentPack = CoursePack.find(comment.course_pack_id) %>
      <b><%= link_to commentPack.title, course_pack_path(commentPack[:id]) %></b>
      <%= comment.comment %>
    </p>
  <% end %>
</div>

