<div id='profile'>

  <div id = 'profile_header'>
    <h2>Welcome, <%=@user.username%>!</h2> 
  </div>
    
  <div id = 'edit_container'>
    <% if @user.username == current_user.username %>
      <div class='edit_profile'><%= button_to 'Change Password', edit_user_path, class:'edit_button' %></div>
      <div class='edit_profile'><%= button_to 'Delete Profile', destroy_user_path, 
        :confirm => "Are you sure you want to delete your profile?", class:'edit_button'%></div>
    <% end %>
  </div>
  
  <div id = 'profile_course_packs'>
    <hr class='dotted'>
    <b id = 'profile_course_packs_header'><%= @user.username %>'s Recent Course Packs</b> 
    <br>
    <% @coursepacks.each do |course_pack| %>
      <table class="profile_course_pack" id = "<%= course_pack[:title] %>" >
      <tr>
        <td>
        <div class='profile_course_pack_title'><%= course_pack[:title] %></div>
        <div id = 'profile_course_pack_buttons'>
          <div class='edit_profile'><%= button_to 'Show', course_pack_path(course_pack[:id]), class:'edit_button' %></div>
          <div class='edit_profile'><% if @user.username == current_user.username %>
              <%= button_to 'Edit', edit_course_pack_path(course_pack[:id]), class:'edit_button' %></div>
          <% end %>
        </div>
      </tr>
      </table>
        <br>
    <% end %>
    <!--<% @coursepacks.each do |course_pack| %>
      <div class='course_pack_show'><a href="<%="/course_packs/#{course_pack.id}"%>" class='show_link' id='show_link'>
        <div class='course_pack_headers'><%= course_pack.title %></div>
        <div class='course_pack_content'><%= course_pack.summary %></div>
        <table id = "<%= course_pack.title %>" style='display:none'>
          <%= button_to 'Edit', edit_course_pack_path(course_pack[:id]), class:'edit_button' %>
          <%= button_to "Destroy", course_pack, method: :delete,data:{confirm: "Are you sure?"}, id:'course_pack_destroy'%>
        </table>
        <br>

      </div>
    <% end %>-->
    
    
    <p><%= link_to 'Click Here For More Course Packs', course_packs_path %> </p>
  </div>
  <hr class='dotted'>
  <div id = 'profile_comments'>
   <b id = 'profile_comments_header'><%= @user.username %>'s Recent Comments </b>
    <% @comments.each do |comment| %>
      <p>
        <% commentPack = CoursePack.find(comment.course_pack_id) %>
        <b><%= link_to commentPack.title, course_pack_path(commentPack[:id]) %></b>
        <%= comment.comment %>
      </p>
    <% end %>
    <%= link_to 'Click Here For More Comments', comments_path %>
  </div>
  
</div>
