<h1>Listing course_packs</h1>

<table >
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </table>

<% @course_packs.each do |course_pack| %>
  <% title = course_pack.title %>
  <b>Title:</b> <%= title %><br/>
  <b>Summary:</b> <br/>&nbsp&nbsp&nbsp<%= course_pack.summary %><br/>
  <table id = "<%= title %>" >
  <tr>
    <td><%= link_to 'Show', course_pack %></td>
    <td><%= link_to 'Edit', edit_course_pack_path(course_pack) %></td>
    <td><%= link_to 'Destroy', course_pack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  </table>
    <br>
<% end %>


<br>

<%= link_to 'New Course pack', new_course_pack_path %>
