<div id='course_pack_header'>
  <div id='course_pack_title'><%= @user.username %>'s Course Packs</div>

<%#= link_to 'New Course pack', '/course_packs/new' %>
    <%= button_to "New Course Pack", '/course_packs/new',method: :get, id:'create',class:'new_course_pack'%>
</div>

<% @course_packs.each do |course_pack| %>
  <div class='course_pack_show'><a href="<%="/course_packs/#{course_pack.id}"%>" class='show_link' id='show_link'><div>
  <%# title = course_pack.title %>
  <div class='course_pack_headers'><%= course_pack.title %></div>
  <div class='course_pack_content'><%= course_pack.summary %></div>
  <!--<table id = "<%#= course_pack.title %>" style='display:none'>-->
  <!--<tr>-->
    <!--&lt;!&ndash;<td><%#= link_to 'Show', course_pack %></td>  &ndash;&gt;-->
    <!--<td><%#= link_to 'Edit', edit_course_pack_path(course_pack) %></td>-->
    <!--<td><%#= link_to 'Destroy', course_pack, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  <!--</tr>-->
  <!--</table>-->
    <br>
    </div></a>
    <%= button_to_function 'Edit', "save_back('/course_packs/','course_packs/#{course_pack.id}/edit' )", :id=>'edit_course_pack' %>
    <%= button_to "Destroy", course_pack,method: :delete,data:{confirm: "Are you sure?"}, id:'course_pack_destroy'%>
      </div>
<% end %>


<br>

