<h1>New course_pack</h1>

<%= form_for :course_pack, url:'create' do |c| %>
<%= c.submit %>
    Title: <%= c.text_field :title %> <br/>
    Summary: <%= c.text_area :summary %><br/>
    Articles: <br/>
    <% @selected_articles.each do |article| %>
        <%= article.title %> <br/>
    <%end %>


    <%= render 'add_article' %>


   <%end %>

<%= link_to 'Back', course_packs_path %>
