<h1>New Course Pack</h1>
<div id='user_id' data-url="<%= @user.id%>"></div>
<div id='course_pack_content' data-url="<%= @course_pack %>"></div>
<div id='articles_content' data-url="<%= @articles %>"></div>
<div ng-controller="CreateCoursePackCtrl">
    <span class='course_pack_error'><%= flash[:error] %></span>
    <span class='course_pack_error'>{{error}}</span><br/>

    <%= render 'course_pack_form' %>

  <p>
  <div class='course_pack_headers form_headers'>Search For Articles</div>
    <input type='text' ng-model='search_input' id="search_input" class='form_input' onkeyup="expandArticles()">
  </p>
  <p>
    <div class='course_pack_headers form_headers'>Search by:</div>
  </p>
    <div class='course_pack_checkboxs'><input type='checkbox' ng-model='search_title' id='course_pack_checkbox'>Title
    <input type='checkbox' ng-model='search_description'>Description
  </div>
    <div id='course_pack_search_div'>
        <%= render 'shared/search' %>
    </div>
    <div id='cancel_dialog'>
        <p>Are you sure you want to cancel? Your course pack will is not saved</p>
    </div>
</div>
