<h1>New course_pack</h1>
course packs: <%= @course_pack_articles %>
selected ids <%= @selected_article_ids %>
search ids <%= @search_article_ids %>
search articles <%#= @search_articles %>

<%= form_for :course_pack, url:'create' do |c| %>

    Title: <%= c.text_field :title %> <br/>
    Summary:<br/> <%= c.text_area :summary, size:'100x5' %><br/>
    Articles: <br/>
    <% @course_pack_articles.each do |article| %>
        <%= article.title %> <br/>
    <%end %>

    <%= c.submit %>
    <%end %>

    <%= render 'add_article' %>




<%= link_to 'Back', course_packs_path %>
