<h1>New Course Pack</h1>
<div id='user_id' data-url="<%= @user.id%>"></div>
<div id='course_pack_content' data-url="<%= @course_pack %>"></div>
<div id='articles_content' data-url="<%= @articles %>"></div>
<div ng-controller="CreateCoursePackCtrl">

    <span id='course_pack_error'>{{error}}</span><br/>

    <%= render 'course_pack_form' %>

  <p>
    <input type='text' ng-model='search_input' id="search_input" onkeyup="expandArticles()">
  </p>
  <p>
    Search by:
  </p>
    <input type='checkbox' ng-model='search_title'>Title
    <input type='checkbox' ng-model='search_description'>Description

    <%= render 'shared/search' %>

<%= link_to 'Back', course_packs_path %>

    <div id='cancel_dialog'>
        <p>Are you sure you want to cancel? Your course pack will is not saved</p>
    </div>
</div>
