<div ng-controller='CoursePackShowCtrl'>

<p id="notice"><%= notice %></p>

<div id='course_pack_content' data-url="<%= @course_pack %>"></div>
<div id='articles_content' data-url="<%= @articles %>"></div>
  <div class='header_filler'>
  <div class='content_bar'><div class='course_pack_headers form_headers'>Title:</div></div></div>
    <div class='form_input'>{{course_pack.title}}</div>
  <div class='content_bar'><div class='course_pack_headers form_headers'>Summary:</div> </div>
    <div class='form_input'>{{course_pack.summary}}</div>
   <br/>

  <div class='content_bar'><div class='course_pack_headers form_headers'>Articles:</div> </div>
  <div id='article_list'>
     <ul>
        <li ng-repeat="article in articles">
            <a href='' ng-click='open_modal(article)'>{{article.title}}</a>
        </li>
    </ul>
    </div>
 Tags:{{course_pack.tags}}  <br/>
 Public: {{course_pack.public}}  <br/>

 <% if current_user.id == JSON.parse(@course_pack)['user_id'] or current_user.admin%>
    <%= button_to 'Edit', "{{course_pack.id}}/edit" %><%= button_to 'Back', @back_url, :method=>:get %>
<% else %>
    <%= button_to 'Back', @back_url, :method=>:get %>
<% end %>

<%= render 'shared/comments' %>

 <%= render 'shared/modal' %>


</div>