<!DOCTYPE html>
<html ng-app="NACLA">

<head>
  <title> NACLA </title>
  <%= stylesheet_link_tag    "layout" %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "bootstrap-responsive" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "nacla" %>
  <%= javascript_include_tag "jquery.sticky" %>
  <%= csrf_meta_tags %>
  <script>
  	$(document).ready(function(){
    	$("#shadow_bar").sticky({topSpacing:40});
    	$('.menu_link').css("visibility", "hidden");
		$('.dropdown-toggle').dropdown();
		  var width = $(window).width();
		  /*$('#test').hover(function() {
		        $("#menu_bar").css("height", "30px");
				$('.menu_link').css("visibility", "visible");
		    }, function() {
		        $("#menu_bar").css("height", "0px");
	    		$('.menu_link').css("visibility", "hidden");
		    });*/

		var leftHeight = $("#left_content").height();
		var centerHeight = $("#center_content").height();
		var rightHeight = $("#right_content").height();
		var centerWidth = $("#content_container").width()*.7 - 15;
		$("#center_content").css("width", centerWidth);
		if(leftHeight > centerHeight || rightHeight > centerHeight)
		{
			if(leftHeight > rightHeight)
			{
				$("#center_content").css("height", leftHeight);
			}
			else
			{
				$("#center_content").css("height", rightHeight);
			}
		}
	});
  </script>
</head>
<body style ="margin:0px; min-width: 990px;">
   <div id="container">
   		<div id="shadow_bar"></div>
		<div class="navbar navbar-inverse navbar-fixed-top" id="test">
		    <div class="navbar-inner">
		    	<div id="navbar_container">
		    		<img id="logo_img" src="/images/nacla_bar.png">
		    		<div id ="navbar_right_container" >
		    			<div id="sign_in_container">
		    				<ul role="navigation" class="nav">
				                <li class="dropdown">
				                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sign In <b class="caret"></b>
				                    </a>
				                    <ul class="dropdown-menu" id="signin_dropdown">
				                    	<%= form_tag("/", method: "get") do %>
					                        <li><a href="#">
					                        	<%= text_field_tag :signin_name, params[:signin_name], id: "signin_name_entry", placeholder: "Username" %>
					                        </a></li>
					                        <li><a href="#">
					                        	<%= text_field_tag :signin_password, params[:signin_password], id: "signin_password_entry", placeholder: "Password" %>
					                        </a></li>
					                        <li><a href="#">
					                        	<button class="btn" id="signin_submit" type="submit">Log In</button>
					                        </a></li>
				                        <% end %>
				                    </ul>
				                </li>
				            </ul>		    				
		    			</div>
		    			<div id="search_container">
			    			<%= form_tag("/search", method: "get") do %>
							      <%= text_field_tag :search, params[:search], id: "navbar_search", placeholder: "Search" %>
							      <button class="btn"id="navbar_search_button" type="submit">
							      	<p>GO</p>
							      </button>						    
						  	<% end %>
					  	</div>
		    		</div>
		    	</div>
		    </div>
		    <div id="menu_bar">
		    	<div id="menu_bar_container">
		    		<%= link_to 'Home', {:controller=>"static", :action => "index"}, :class =>"menu_link" %>
		    		<%= link_to 'New Course Pack', new_course_pack_path, :class =>"menu_link" %>
		    		<%= link_to 'Search', {:controller=>"search", :action => "index"}, :class =>"menu_link" %>
		    	</div>
		    </div>
		</div>	
		<div id="top_spacer"></div>

		<div id="content_container">
			<div>
				<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, :id => "flash#{name}" %>
				<% end %>
			</div>
			<div id="user_nav" style ="margin-top:20px;">
				<% if current_user %>
					Logged in as <b><%= current_user.email %></b>
					<%= link_to "Log out", log_out_path %>
				<% else %>
					<%= link_to "Sign up", sign_up_path %> or 
					<%= link_to "Log in", log_in_path %>
				<% end %>
			</div>
			<div id="logo_container">
				<div id="top_links_container">
					<span style="display:table; float:center; margin-left:auto; margin-right:auto;">
					<p class="top_link">ADVERTISE</p>
					<p class="top_link">SUBSCRIBE</p>
					<p class="top_link">STORE</p>
					<p class="top_link">MY CART</p>
					<p class="top_link">CLACS at NYU</p>
					<p class="top_link" style="border-right-width:0px;">ARCHIVE OF LATIN AMERICA</p>
					</span>
				</div>
				<img style="width:700px; display: block; margin-bottom:10px; margin-top:10px; margin-left:auto; margin-right:auto;" src="/images/nacla_logo.jpg">
				<div id="links_bar">
					<div class="links_item">
						<%= link_to 'HOME', {:controller=>"static", :action => "index"}, :class =>"links_item_text" %>
					</div>
					<div class="links_item">
						<%= link_to 'COURSE PACKS', new_course_pack_path, :class =>"links_item_text" %>
					</div>
					<div class="links_item">
						<%= link_to 'SEARCH', {:controller=>"search", :action => "index"}, :class =>"links_item_text" %>
					</div>
				</div>
			</div>
			<div>
				<div id="left_content">
					<div class="left_ad">
						<p class="left_ad_text">Subscribe to NACLA Report today!</p>
					</div>

					<div id="news_container_header" class="left_container_div">
						<p style="text-align:center; font-size:15px; font-weight: bold; line-height:15px;">NACLA News</p>
					</div>
					<div id="news_container" class="left_container_div">
						<p style="text-align:center; font-size:15px; font-weight: bold; line-height:15px;">News to be added...</p>
					</div>

					<div id="left_login_container" class="left_container_div">
						<p style="text-align:center; font-size:15px; font-weight: bold; line-height:15px;">NACLA User Login</p>
						<%= form_tag("/", method: "get") do %>
	                        	<%= text_field_tag :signin_name, params[:signin_name], id: "left_signin_username", placeholder: "Username" %>
	                        	<%= text_field_tag :signin_password, params[:signin_password], id: "left_signin_password", placeholder: "Password" %>
	                        	<button class="btn" id="left_signin_submit" type="submit">Sign In</button>
                        <% end %>	
                        <p style="text-align:center; color:navy; font-size:10px; font-weight: bold; line-height:15px; margin-top:-18px;">Register for an account</p>					
					</div>

					<div class="left_white_container_div">
						<p style="text-align:center; color:orange; font-size:10px; font-weight: bold; line-height:15px; margin-top:-18px;">SEARCH</p>
						<%= form_tag("/search", method: "get") do %>
						    <%= text_field_tag :search, params[:search], id: "left_search", placeholder: "Search" %>
						    <button class="btn"type="submit" style="margin-left:auto; margin-right:auto; width:60px; margin-bottom:-15px; display:block;">
						    	<p>GO</p>
						    </button>
					  	<% end %>
					</div>

					<div class="left_white_container_div">
						<p style="text-align:center; color:orange; font-size:10px; font-weight: bold; line-height:15px; margin-top:-18px;">SIGN UP FOR OUR EMAIL LIST</p>
					</div>

					<div class="left_ad">
						<p class="left_ad_text">Visit the NACLA store</p>
					</div>
				</div>
				<div id="center_content">
					<div id="content">
						<%= yield %>
					</div>
				</div>
				<div id="right_content">

					<div id="ads_container_header" class="left_container_div" style="background-color:#EEEEEE; border-style: solid; border-width:1px; border-color:#EEEEEE;">
						<p style="text-align:center; font-size:15px; font-weight: bold; line-height:15px;">ADVERTISEMENT</p>
					</div>
					<div id="ads_container" class="left_container_div" style="background-color:white; border-style: solid; border-width:1px; border-color:#EEEEEE;">
						<p style="text-align:center; font-size:15px; font-weight: bold; line-height:15px;">News to be added...</p>
					</div>

					<div id="archives_container_header" class="left_container_div">
						<p style="text-align:center; font-size:15px; font-weight: bold; line-height:15px;">NACLA Archives</p>
					</div>
					<div id="archives_container" class="left_container_div">
						<p style="text-align:center; font-size:15px; font-weight: bold; line-height:15px;">Things...</p>
					</div>
					
				</div>
			</div>
		</div>
		<div id="push"></div>
	</div>

	<div id="footer">
		<div id="footer_container">
			<div id="footer_text_container">
				<div id="footer_column1">
					<p class="footer_text" style="margin-top:20px;">NACLA | c/o NYU CLACS</p>
					<p class="footer_text">53 WASHINGTON SQ. SOUTH FL. 4W</p>
					<p class="footer_text">NEW YORK, NY 10012</p>

					<p class="footer_text" style="margin-top:20px;">TEL: (646) 535-9085</p>
				</div>
				<div id="footer_column2">
					<p class="footer_text" style="margin-top:20px;">Sitemap</p>
					<p class="footer_text">Terms Of Use</p>
					<p class="footer_text">Privacy Policy</p>
					<p class="footer_text">Contact Us</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
